{
    "overrides": [
        {
            "files": ["src/**/*.ts", "src/**/*.tsx", "src/**/*.js"],
            "options": {
                "singleQuote": true,
                "semi": false
            }
        },
        {
            "files": ["src/**/*.css", "src/**/*.scss"],
            "options": {
                "singleQuote": false,
                "semi": true
            }
        }
    ]
}
